@use "../_vars";
@use "../_mixins";

/* Articles */
.article .article-content__wrapper {
  display: flex;
  flex-direction: row-reverse;

  @include mixins.mobile {
    flex-direction: column;
  }

  .article-content {
    flex: 3;
    padding-right: vars.$space-md;

    @include mixins.tablet-only {
      flex: 2;
      padding-right: vars.$space-xxl;
    }

    @include mixins.desktop {
      padding-right: vars.$space-xxxl;
    }
  }
}

.article-content,
.article--list__wrapper {
  font-size: vars.$font-md;

  h1,
  h2,
  h3:not(.article--title),
  h4 {
    margin-top: vars.$space-xl;
    margin-bottom: vars.$space-lg;

    border-top: 30px solid transparent;
    margin-top: calc(-30px + vars.$space-xl);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    a {
      text-decoration: none;
      color: vars.$color-text;
      margin-left: calc(-1 * vars.$space-xl);
      padding-left: vars.$space-xl;
      position: relative;

      &::before {
        content: "#";
        font-size: vars.$font-lg;
        color: vars.$color-grey-light;
        position: absolute;
        float: left;
        left: 0;
        bottom: -2px;
      }
    }

    a:hover,
    a:focus {
      color: vars.$color-text;

      &::before {
        color: vars.$color-blue-highlight;
        text-decoration: underline;
      }
    }
  }

  a:target {
    @include mixins.focus;
  }

  .article-body {
    margin-bottom: vars.$space-xxl;
  }
}

.sidebar-content {
  flex: 1;
  margin-left: vars.$space-sm;
  margin-bottom: vars.$space-xxl;

  .toc {
    position: sticky;
    top: 5px;
    z-index: 1;

    .toc__header {
      font-size: vars.$font-lg;
      margin-bottom: vars.$space-sm;
    }

    .toc__content {
      ol {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          margin-bottom: vars.$space-xs;

          &::before {
            content: "—";
            color: vars.$color-blue;
            margin-right: vars.$space-sm;
          }

          &.active {
            &::before {
              color: vars.$color-blue-highlight;
            }

            > a {
              font-weight: 600;
              color: vars.$color-blue-highlight;
            }
          }
        }

        li ol {
          margin: vars.$space-xs 0 0 vars.$space-lg;
        }
      }
    }
  }
}
