@use "../_mixins";

/* Articles */
.article-content__wrapper {
  display: flex;
  flex-direction: row-reverse;

  @include mixins.mobile {
    flex-direction: column;
  }
}

.article-content {
  flex: 3;
  font-size: var(--font-md);
  padding-right: var(--space-md);

  @include mixins.tablet-only {
    flex: 2;
    padding-right: var(--space-xxl);
  }

  @include mixins.desktop {
    padding-right: var(--space-xxxl);
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-lg);

    border-top: 30px solid transparent;
    margin-top: calc(-30px + var(--space-xl));
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    a {
      text-decoration: none;
      color: var(--color-text);
      margin-left: calc(-1 * var(--space-xl));
      padding-left: var(--space-xl);
      position: relative;

      &::before {
        content: "#";
        font-size: var(--font-lg);
        color: var(--color-grey-light);
        position: absolute;
        float: left;
        left: 0;
        bottom: -2px;
      }
    }

    a:hover,
    a:focus {
      color: var(--color-text);

      &::before {
        color: var(--color-blue-highlight);
        text-decoration: underline;
      }
    }
  }

  a:target {
    @include mixins.focus;
  }
}

.sidebar-content {
  flex: 1;
  margin-left: var(--space-sm);
  margin-bottom: var(--space-xxl);

  .toc {
    position: sticky;
    top: 5px;
    z-index: 1;

    .toc__header {
      font-size: var(--font-lg);
      margin-bottom: var(--space-sm);
    }

    .toc__content {
      ol {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          margin-bottom: var(--space-xs);

          &::before {
            content: "—";
            color: var(--color-blue);
            margin-right: var(--space-sm);
          }

          &.active {
            &::before {
              color: var(--color-blue-highlight);
            }

            > a {
              font-weight: 600;
              color: var(--color-blue-highlight);
            }
          }
        }

        li ol {
          margin: var(--space-xs) 0 0 var(--space-lg);
        }
      }
    }
  }
}
