/* Sass stuff */
@use "../_vars";
@use "../_mixins";

/* Grid system, inspired by SmolCSS */
.article-list {
  @include mixins.mobile {
    --min: 100%;
    --gap: 0;
  }

  @include mixins.tablet {
    --min: 45%;
    --gap: 5%;
  }

  @include mixins.desktop {
    --min: 31.5%;
    --gap: 2.5%;
  }

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.article-list > .article {
  width: var(--min);
}

.article--list__wrapper {
  h2 {
    font-size: vars.$font-xl;
    margin-bottom: vars.$space-lg;
  }
}

.home .article {
  font-size: vars.$font-md;
  margin-bottom: vars.$space-xl;

  > a {
    color: vars.$color-text;
    text-decoration: none;
    display: block;
    height: 100%;
    padding: vars.$space-md vars.$space-lg;
    border-radius: 4px;
    border: 2px solid vars.$color-grey-light;

    &:hover,
    &:focus {
      background-color: vars.$color-grey-very-light;
      border: 2px solid vars.$color-grey-md;
      box-shadow: none;

      .article--title {
        color: vars.$color-blue-highlight;
      }
    }

    &:focus {
      outline: vars.$color-focus 2px solid;
    }
  }

  &:not(.article--placeholder) .article--title h3 {
    @include mixins.links;
  }

  .article--title {
    display: block;
    margin-bottom: vars.$space-xs;
    line-height: 1.35;

    .chiclet--new {
      display: inline-block;
      color: #333333;
      padding: vars.$space-xs vars.$space-sm;
      border-radius: 4px;
      border: 2px solid rgba(255, 153, 0, 0.5);
      background-color: #f9f4d4;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: vars.$font-sm;
    }

    h3 {
      display: inline;
    }
  }

  .article--date {
    display: block;
    font-size: 18px;
    font-size: vars.$font-sm;
    margin-bottom: vars.$space-md;
  }

  p {
    margin: 0;
    font-size: vars.$font-sm;
  }
}

.home .article.article--placeholder {
  font-size: vars.$font-md;
  margin-bottom: vars.$space-xl;

  background: vars.$color-grey-light;
  opacity: 0.8;
  padding: vars.$space-md vars.$space-lg;
  border-radius: 4px;
  border: 2px solid vars.$color-grey-light;

  cursor: wait;
}
