/* Sass stuff */
@use "../_mixins";

/* Grid system, inspired by SmolCSS */
.article-list {
  @include mixins.mobile {
    --min: 100%;
    --gap: 0;
  }

  @include mixins.tablet {
    --min: 45%;
    --gap: 5%;
  }

  @include mixins.desktop {
    --min: 30%;
    --gap: 3%;
  }

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.article-list > .article {
  width: var(--min);
}

.article--list__wrapper {
  h2 {
    font-size: var(--font-xl);
    margin-bottom: var(--font-md);
  }
}

.home .article {
  font-size: var(--font-md);
  margin-bottom: var(--font-lg);

  border-radius: 3px;
  background-color: #f3f3f3;
  border: 2px solid var(--color-grey-light);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  padding: var(--space-md) var(--space-lg);

  .article--title {
    display: block;
  }
  .article--date {
    display: block;
    font-size: 18px;
    margin-bottom: var(--space-sm);
  }

  p {
    margin: 0;
  }
}
