@use "../_vars";
@use "../_mixins";

.page .article-content {
  padding-right: vars.$space-md;

  @include mixins.tablet {
    width: 75%;
    padding-right: vars.$space-xxl;
  }

  @include mixins.desktop {
    padding-right: vars.$space-xxxl;
  }

  .article-body {
    margin-bottom: vars.$space-xxxl;
  }
}
