<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="apple-mobile-web-app-title" content="Federal Field Notes">
  <meta name="application-name" content="Federal Field Notes">
  <meta name="msapplication-TileColor" content="#26374a">
  <meta name="theme-color" content="#26374a">

  <!-- Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/wet.css' | url }}" media="(prefers-color-scheme: light)">
  <!--link rel="stylesheet" href="{{ '/css/dark.css' | url }}" media="(prefers-color-scheme: dark)" -->
  <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
</head>
<body id="body">
  <!--dark-mode-toggle></dark-mode-toggle -->
  {% include "partials/header.njk" %}
  <main id="main-content" tabindex="-1">
    {% block content %}
    {% endblock content %}
  </main>
    {% include "partials/footer.njk" %}
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>