<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title and title != env.site.name %}{{ title }} — {% endif %}{{ env.site.name }}</title>
  <meta name="description" content="{{ metaDescription or title }}">
  
  {% if env.isProd %}
    {% set canonicalUrl = [env.url, page.url] | join %}
    <link rel="canonical" href="{{ canonicalUrl }}"/>
  {% endif %}
  
  {% if ignore %}
    <meta name="robots" content="noindex"/>
  {% endif %}

  <!-- open graph tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ env.url }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description" content="{{ ogDescription or metaDescription }}"/>

  {% set imgUrl = [env.url, "/federal-field-notes.png"] | join %}
  <meta property="og:image" content="{{ imgUrl }}"/>
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="627"/>

  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:title" content="{{ title }}"/>
  <meta property="twitter:description" content="{{ ogDescription or metaDescription }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="@pcraig3"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="{{ imgUrl }}"/>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="apple-mobile-web-app-title" content="Federal Field Notes">
  <meta name="msapplication-TileColor" content="#26374a">
  <meta name="theme-color" content="#26374a">

  <!-- Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/wet.css' | url }}" media="(prefers-color-scheme: light)">
  <!--link rel="stylesheet" href="{{ '/css/dark.css' | url }}" media="(prefers-color-scheme: dark)" -->
  <!--script type="module" src="https://unpkg.com/dark-mode-toggle"></script-->

  {% if env.isProd %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ env.ga }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ env.ga }}');
    </script>
  {% endif %}
</head>
<body id="body" class="{% block body_classes %}{% endblock body_classes %}">
  <!--dark-mode-toggle></dark-mode-toggle -->
  {% include "partials/header.njk" %}
  <main id="main-content" tabindex="-1">
    {% block content %}
    {% endblock content %}
  </main>
    {% include "partials/footer.njk" %}
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>