$fw: (
  "regular": 400,
  "bold": 700,
);

$font-size: (
  "sm": 0.8rem,
  "md": 1rem,
  "lg": 1.563rem,
  "xl": 1.953rem,
  "xxl": 2.441rem,
);

$sp: (
  "xs": 0.25rem,
  "sm": 0.5rem,
  "md": 0.75rem,
  "lg": 1rem,
  "xl": 1.5rem,
  "xxl": 2.5rem,
);
