$c: (
  "blue": #26374a,
  "grey-light": #f8f8f8,
  "red": #d3080c,
  "red-dark": #af3c43,
  "white": #ffffff,
  "black": #000000,
);

$fw: (
  "regular": 400,
  "bold": 700,
);

$fs: (
  "sm": 0.8rem,
  "md": 1rem,
  "lg": 1.333rem,
  "xl": 1.953rem,
  "xxl": 2.441rem,
  "xxxl": 3.052rem,
);

$sp: (
  "xs": 0.25rem,
  "sm": 0.5rem,
  "md": 0.75rem,
  "lg": 1rem,
  "xl": 1.5rem,
  "xxl": 2.5rem,
  "xxxl": 3.5rem,
);
