/* CSS reset */
@use "./_reset";

/* Sass stuff */
@use "./_mixins";
@use "./_vars";

/* Partials */
@use "./components/footer";
@use "./components/header";
@use "./components/intro";
@use "./components/nav";

/* Pages */
@use "./pages/home";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p {
  margin-bottom: map-get(vars.$sp, "lg");
}

article {
  font-size: map-get(vars.$fs, "lg");
  margin-bottom: map-get(vars.$sp, "xxl");

  h2,
  h3 {
    margin-top: map-get(vars.$sp, "xl");
    margin-bottom: map-get(vars.$sp, "lg");
  }
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.container {
  @include mixins.container;
  margin-top: map-get(vars.$sp, "xl");
  margin-bottom: map-get(vars.$sp, "xl");
}
