/* CSS reset */
@use "./_reset";

/* Sass stuff */
@use "./_mixins";

/* Partials */
@use "./components/footer";
@use "./components/forms";
@use "./components/header";
@use "./components/intro";
@use "./components/nav";

/* Pages */
@use "./pages/home";
@use "./pages/post";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

// :root {
//   color-scheme: light dark;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

p {
  margin-bottom: var(--space-lg);
}

a,
a:visited {
  color: var(--color-blue);

  &:hover {
    color: var(--color-blue-highlight);
  }
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.container {
  @include mixins.container;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.flex-wrapper {
  @include mixins.flex-wrapper;
}
