@use "../_vars";
@use "../mixins";

footer[role="contentinfo"] {
  background: vars.$color-grey-very-light;

  > hr {
    border: 2px solid vars.$color-blue;
  }

  > div.flex-wrapper {
    @include mixins.container;
    align-items: baseline;
    padding-top: vars.$space-xl;
    padding-bottom: vars.$space-xl;

    @include mixins.mobile {
      align-items: flex-end;
    }
  }

  nav {
    font-size: vars.$font-xs;
    color: vars.$color-blue;

    li {
      margin-right: vars.$space-md;
    }

    li:not(:first-of-type)::before {
      content: "\2022";
      margin-right: vars.$space-md;
    }

    @include mixins.mobile {
      margin-bottom: vars.$space-xl;
    }
  }

  .logo__container {
    text-align: right;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .top-link {
    margin-top: vars.$space-xl;

    @include mixins.tablet {
      display: none;
    }

    a {
      padding-left: vars.$space-xl;
      text-decoration: underline;

      &::before {
        color: currentColor;
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: "";
        display: inline-block;
        height: 8px;
        position: relative;
        top: 10px;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 8px;
        left: calc(-1 * vars.$space-md);
      }
    }
  }
}
