@use "../mixins";

footer[role="contentinfo"] {
  background: var(--color-grey-very-light);

  > hr {
    border: 2px solid var(--color-blue);
  }

  > div.flex-wrapper {
    @include mixins.container;
    align-items: baseline;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);

    @include mixins.mobile {
      align-items: flex-end;
    }
  }

  nav {
    font-size: var(--font-xs);
    color: var(--color-blue);

    li {
      margin-right: var(--space-md);
    }

    li:not(:first-of-type)::before {
      content: "\2022";
      margin-right: var(--space-md);
    }

    @include mixins.mobile {
      margin-bottom: var(--space-xl);
    }
  }

  .logo__container {
    text-align: right;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .top-link {
    margin-top: var(--space-xl);

    @include mixins.tablet {
      display: none;
    }

    a {
      padding-left: var(--space-xl);

      &::before {
        color: currentColor;
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: "";
        display: inline-block;
        height: 8px;
        position: relative;
        top: 10px;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 8px;
        left: calc(-1 * var(--space-md));
      }
    }
  }
}
