.intro {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxxl);
  margin-bottom: var(--space-xxl);

  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: var(--font-md);

  h1 {
    font-size: var(--font-xxxl);
    line-height: 1.15;
    margin-bottom: var(--space-md);
    border-bottom: 2px solid var(--color-red-dark);
  }

  a {
    &:hover,
    &:focus {
      color: var(--color-white);
      opacity: 0.75;
    }
  }

  .category-heading {
    font-size: var(--font-lg);
    margin-bottom: calc(-1 * var(--space-xs));
    margin-left: 2px;

    a {
      color: var(--color-grey-light);

      &:hover {
        color: var(--color-grey-light);
      }
    }
  }

  .lead-in {
    max-width: 65ch;
    font-size: var(--font-md);
    margin-bottom: var(--space-xl);
  }

  .intro__author {
    font-weight: 600;

    a {
      color: var(--color-white);

      &:hover {
        color: var(--color-white);
      }
    }
  }
}
