@use "../_vars";
@use "../mixins";

.intro {
  padding-top: vars.$space-xxl;
  padding-bottom: vars.$space-xxxl;
  margin-bottom: vars.$space-xxl;

  background-color: vars.$color-blue;
  color: vars.$color-white;
  font-size: vars.$font-md;

  h1 {
    font-size: vars.$font-xxxl;
    line-height: 1.15;
    margin-bottom: vars.$space-md;
    border-bottom: 2px solid vars.$color-red-dark;

    @include mixins.desktop {
      padding-right: 170px;
    }

    @include mixins.mobile {
      font-size: vars.$font-xxl;
    }
  }

  a {
    color: vars.$color-white;

    &:hover,
    &:focus {
      color: vars.$color-white;
      opacity: 0.75;
    }
  }

  .category-heading {
    font-size: vars.$font-lg;
    margin-bottom: calc(-1 * vars.$space-xs);
    margin-left: 2px;

    a {
      color: vars.$color-grey-light;

      &:hover {
        color: vars.$color-grey-light;
      }
    }
  }

  .lead-in {
    max-width: 65ch;
    font-size: vars.$font-md;
    margin-bottom: vars.$space-xl;
  }

  .intro__author {
    font-weight: 600;
  }
}
