@use "../_vars";
@use "../mixins";

.logo {
  font-family: "Lato", sans-serif;
  font-size: vars.$font-md;
  text-decoration: none;
}

nav {
  display: inline-block;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: vars.$space-md;
    }
  }
}

header nav li.active {
  font-weight: 700;
}
