/* Grid system, inspired by SmolCSS */
.post-list {
  --min: 22ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.post-list > .post {
  width: 40%;
  flex: 1 1 1;
}

.post--list__wrapper {
  h2 {
    font-size: var(--font-xl);
    margin-bottom: var(--font-md);
  }
}

.post {
  font-size: var(--font-md);
  margin-bottom: var(--font-md);

  .post--title {
    display: block;
  }
  .post--date {
    display: block;
    font-size: 18px;
    margin-bottom: var(--space-xs);
  }

  p {
    margin: 0;
  }
}
