{% extends '../base.njk' %}

{% block body_classes %}article{% endblock body_classes %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p>
  {% if date %}
    <time datetime="{{ date | isoDateFilter }}" class="dt-published">{{ date | displayDateFilter }}</time>
  {% endif %}
  <span>— {{ content | readingTime }} minute read</span>
</p>
{% endset %}

{# Article content #}
{% set previousArticle = collections.article | getPreviousCollectionItem(page) %}
{% set nextArticle = collections.article | getNextCollectionItem(page) %}

{% block content %}
    <article>
      {% include "partials/intro.njk" %}
      <div class="container">
        <div class="article-content__wrapper">
          <div class="sidebar-content">
              <div class="toc" aria-hidden="true">
                <h2 class="toc__header">On this page</h4>
                <div class="toc__content">{{ content | onlyToC | safe }}</div>
            </div>
          </div>
          <div class="article-content" >
            <div class="article-body">
              {{ content | noToC | safe }}
            </div>
            {% footnotes %}
            <div class="next-and-prev">
              <ul>
                {% if nextArticle %}
                  <li class="next"><a href="{{ nextArticle.url }}" class="button button--secondary"><span class="visually-hidden">Next: </span>{{ nextArticle.data.title }}</a></li>
                {% endif %}

                {% if previousArticle %}
                  <li class="prev"><a href="{{ previousArticle.url }}" class="button button--secondary"><span class="visually-hidden">Previous: </span>{{ previousArticle.data.title }}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% include "partials/subscribe.njk" %}

{% endblock %}

{% block scripts %}
  <script src="{{ '/js/script.js' | url }}" defer></script>
{% endblock %}
