{% extends '../base.njk' %}

{% block body_classes %}home{% endblock body_classes %}

{% set introHeading = title %}
{% set leadIn %}
  {{ content | markdownFilter | safe }}
{% endset %}

{% block content %}
  {% include "partials/intro.njk" %}

  <div class="article--list__wrapper container">
    <h2>Articles</h2>

    <ul class="article-list">
      {% for article in collections.article | reverse %}
        <li class="article">
          <a href="{{ article.url }}">
            <h3 class="article--title">
              {{ article.data.title }}
            </h3>
            <div class="article--date"><time datetime="{{ article.data.date | isoDateFilter }}">{{ article.data.date | displayDateFilter }}</time></div>
            <p>{{ article.data.summary }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% include "partials/subscribe.njk" %}
{% endblock %}