{% extends '../base.njk' %}

{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% block content %}
  {% include "partials/intro.njk" %}

  <div class="post--list__wrapper container">
    <h2>Articles</h2>

    <ul class="post-list">
      {% for post in collections.posts %}
        <li class="post">
          <h3 class="post--title">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </h3>
          <div class="post--date"><time datetime="{{ post.data.date | isoDateFilter }}">{{ post.data.date | displayDateFilter }}</time></div>
          <p>{{ post.data.summary }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% include "partials/subscribe.njk" %}
{% endblock %}