{% extends '../base.njk' %}

{% block body_classes %}home{% endblock body_classes %}

{% set introHeading = title %}
{% set leadIn %}
  {{ content | markdownFilter | safe }}
{% endset %}

{% block content %}
  {% include "partials/intro.njk" %}

  <div class="article--list__wrapper container">
    <h2 id="articles" tabindex="-1"><a class="header-anchor" href="#articles"><span>Articles</span></a></h2>

    <ul class="article-list">
      {%- for article in collections.article | reverse -%}
        {%- if not article.data.ignore -%}
        <li class="article">
          <a href="{{ article.url }}">
            <div class="article--title">
              {% if article.data.date | isRecentDate %}
                <span class="chiclet--new">New
                  <span class="visually-hidden">post:</span>
                  <span aria-hidden="true">⚡️</span>
                </span>
              {% endif %}
              <h3>
                {{ article.data.title }}
              </h3>
            </div>
            <div class="article--date"><time datetime="{{ article.data.date | isoDateFilter }}">{{ article.data.date | displayDateFilter }}</time></div>
            <p>{{ article.data.metaDescription }}</p>
          </a>
        </li>
        {%- endif -%}
      {%- endfor -%}
      <li class="article article--placeholder">
        <div class="article--title">
          <h3>Coming soon: why ‘alphas’ are next-to impossible in big, honkin’ departments</h3>
        </div>
        <div class="article--date"><time datetime="2022-05">after Easter</time></div>
        <p>What is the deal?? Subscribe to be the first to know.</p>
      </li>
    </ul>
  </div>

  {% include "partials/subscribe.njk" %}
{% endblock %}