{% extends '../base.njk' %}

{% block body_classes %}page{% endblock body_classes %}

{# Intro content #}
{% set introHeading = title %}

{# Page content #}
{% block content %}
    <article>
      {% include "partials/intro.njk" %}
      <div class="container">
        <div class="article-content__wrapper">
          <div class="article-content" >
            <div class="article-body">
              {{ content | markdownFilter | safe }}
            </div>
          </div>
        </div>
      </div>
    </article>
    {% include "partials/subscribe.njk" %}

{% endblock %}

{% block scripts %}
  <script src="{{ '/js/email.js' | url }}" defer></script>
{% endblock %}
