{% extends '../base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p>
  {% if date %}
    <time datetime="{{ date | isoDateFilter }}" class="dt-published">{{ date | displayDateFilter }}</time>
  {% endif %}
  <span>— {{ content | readingTime }} minute read</span>
</p>
{% endset %}

{% block content %}
    <article>
      {% include "partials/intro.njk" %}
      <div class="container">
        <div class="article-content__wrapper">
          <div class="article-content" >
            {{ content | noToC | safe }}
          </div>
          <div class="sidebar-content">
            <div class="toc">
              <h2 class="toc__header">On this page</h4>
              <div class="toc__content">{{ content | onlyToC | safe }}
            </div>
          </div>
        </div>
      </div>
    </article>
    {% include "partials/subscribe.njk" %}

{% endblock %}

{% block scripts %}
  <script src="{{ '/js/script.js' | url }}" defer></script>
{% endblock %}
