main:focus {
  outline: 0;
}

hr {
  border: none;
  border-top: var(--color-grey-light) 2px solid;
}

table {
  min-height: 0.01%;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 23px;

  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding: var(--space-sm);
    text-align: left;
    line-height: 1.4375;
  }

  thead th {
    border-top: 0;
    background-color: #f0f0f0;
    vertical-align: bottom;
    border-bottom: 2px solid var(--color-grey-md);

    &:first-of-type {
      border-radius: 4px 0 0 0;
    }

    &:last-of-type {
      border-radius: 0 4px 0 0;
    }
  }

  tbody th,
  tbody td {
    vertical-align: top;
    border-top: 1px solid var(--color-grey-md);
  }
}
