@use "./_vars";
@use "./_mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;

  &:focus {
    outline: 0;
  }
}

p,
blockquote {
  margin-bottom: vars.$space-lg;
}

a,
a:visited {
  @include mixins.links;
}

blockquote {
  padding: vars.$space-md 0 vars.$space-md vars.$space-xl;
  border-left: vars.$color-grey-light solid 6px;
  // text-indent: calc(-1 * vars.$space-sm);

  // &::before {
  //   content: open-quote;
  //   quotes: "“" "" "‘" "’";
  //   position: absolute;
  // }

  > *:last-child {
    margin-bottom: 0;
  }
}

code {
  padding: 0 vars.$space-xs;
  border: 1px solid vars.$color-grey-light;
  background: vars.$color-grey-very-light;
  border-radius: 4px;
  line-height: 1.65;
}

pre > code {
  display: block;
  padding: vars.$space-sm vars.$space-md;
}
