/* CSS reset */
@use "./_reset";

/* Sass stuff */
@use "./_mixins";

/* Generics */
@use "./core";
@use "./typography";

/* Partials */
@use "./components/footer";
@use "./components/footnotes";
@use "./components/forms";
@use "./components/header";
@use "./components/intro";
@use "./components/nav";
@use "./components/next_prev";
@use "./components/subscribe";

/* Pages */
@use "./pages/home";
@use "./pages/article";
@use "./pages/page";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

// :root {
//   color-scheme: light dark;
// }

.visually-hidden {
  @include mixins.visually-hidden;
}

.container {
  @include mixins.container;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.flex-wrapper {
  @include mixins.flex-wrapper;
}
