button,
input[type="text"] {
  background-image: none;
  border-radius: 4px;
  line-height: 1.4375;
  min-height: 36px;
  padding: 10px 14px;
}

button {
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 2px solid transparent;
  line-height: 1.4375;
  user-select: none;
  color: #fff;
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border-style: outset;
  min-width: 36px;
  white-space: normal;
  border-radius: 0 4px 4px 0;

  &:hover,
  &:active {
    border: 2px solid var(--color-blue);
    outline: 3px solid var(--color-focus);
  }

  &:hover {
    background-color: var(--color-button-hover);
  }

  &:active {
    background-color: var(--color-button-active);
  }

  &:focus:not(:active):not(:hover) {
    outline: 0;
    border-color: var(--color-focus);
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);

    color: var(--color-black);
    background-color: var(--color-focus);
  }
}

input[type="text"] {
  color: var(--color-text);
  background-color: #fff;
  border: 2px solid var(--color-text);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  z-index: 1;
  border-radius: 4px 0 0 4px;

  &:focus {
    outline: 3px solid var(--color-focus);
  }
}

label {
  display: block;
  margin-bottom: var(--space-xs);
}
