@use "../vars";

.intro {
  padding-top: map-get(vars.$sp, "xxl");
  padding-bottom: map-get(vars.$sp, "xxxl");
  margin-bottom: map-get(vars.$sp, "xxl");

  background-color: map-get(vars.$c, "blue");
  color: map-get(vars.$c, "white");

  h1 {
    font-size: map-get(vars.$fs, "xxxl");
    margin-bottom: map-get(vars.$sp, "xl");
    border-bottom: 2px solid map-get(vars.$c, "red-dark");
  }

  .introSummary {
    font-size: map-get(vars.$fs, "lg");
  }
}
