@use "../mixins";

.logo {
  font-family: "Lato", sans-serif;
  font-size: var(--font-md);
  text-decoration: none;
}

nav {
  display: inline-block;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: var(--space-md);
    }
  }
}

@include mixins.mobile {
  .logo,
  .logo + p,
  nav ul {
    margin-top: 0;
    margin-bottom: var(--space-lg);
  }
}
