---
layout: layouts/page.njk
title: Couldn’t find that Web page
leadIn: "404: Not found"
metaDescription: "Oops! Probably this isn’t what you were expecting."
templateEngineOverride: njk, md
canonicalUrl: /404.html
permalink: /404.html
---

Oops! Probably this isn’t what you were expecting.

Maybe you mistyped something or maybe you followed a broken link (maybe I could use a couple more oversight committees <span aria-hidden="true">😬</span>).

- Back to the <a href="{{ "/" | url }}">home page</a>
- <a href="{{ "/pages/contact" | url }}">Let me know if you found a broken link somewhere</a> and I’ll fix it.
