---
layout: layouts/home.njk
title: A simpler starter
templateEngineOverride: njk, md
---

Hylia is a lightweight Eleventy starter kit with Forestry CMS pre-configured, so that you can one-click install a progressive, accessible blog in minutes. It also gives you a well organised starting point to extend yourself.

Get started now by deploying Hylia to Netlify.
