---
layout: layouts/home.njk
title: Federal Field Notes
metaDescription: Dispatches from the front lines of Canada's federal digital transformation. Digital transformation is hard, but it doesn’t have to be boring.
ogDescription: Dispatches from the front lines of Canada's federal digital transformation.
templateEngineOverride: njk, md
date: 2022-03-21
---

Dispatches from the front lines of Canada’s federal digital transformation.<br />More playful than ‘playbook’, more useful than utopian. Expect articles that are interesting, insightful, and little bit irreverent.

Digital transformation is hard, but it doesn’t have to be boring.
