---
layout: layouts/home.njk
title: Federal Field Notes
templateEngineOverride: njk, md
---

Dispatches from the front lines of Canada's federal digital transformation. <br />More playful than ‘playbook’, more useful than utopian. Expect articles that are interesting, insightful, and little bit irreverent.

Digital transformation is hard, but it doesn’t have to be boring.

