<footer role="contentinfo">
  <hr />
  <div class="flex-wrapper">
    <div>
      <nav aria-label="footer navigation">
        <ul>
          <li>Home</li>
          <li>Github</li>
          <li>Twitter</li>
        </ul>
      </nav>
    </div>
    {% if site.shortDesc %}
    <div class="logo__container">
      <h2 class="logo logo--footer">{{ site.name }}</h2>
      {{ site.shortDesc | markdownFilter | safe }}
      <div class="top-link"><a href="#body">Top of page</a></div>
    </div>
    {% endif %}
  </div>
</footer>