<footer role="contentinfo">
  <div class="flex-wrapper">
  {% if site.shortDesc %}
    <div>
      <h2 class="logo">{{ site.name }}</h2>
      {{ site.shortDesc | markdownFilter | safe }}
    </div>
  {% endif %}
    <div>
      <nav aria-label="footer navigation">
        <ul>
          <li>Home</li>
          <li>Github</li>
          <li>Twitter</li>
        </ul>
      </nav>
    </div>
  </div>
  <p class="tagline">
    Powered by the <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
  </p>
</footer>