<!--a href="#main-content">Skip to content</a -->
<header role="banner">
  <div class="flex-wrapper">
      <a class="logo" href="/">
        <span class="visually-hidden">{{ env.site.name }} - Home</span>
        <span aria-hidden="true">{{ env.site.name }}</span>
      </a>
      <nav>
        <ul>
          {% set aboutLink = '/pages/about/'%}
          <li {% if page.url == aboutLink %}class="active"{% endif %}>
            <a href="{{ aboutLink }}">About
              {% if page.url == aboutLink %} <span class="visually-hidden">(current)</span>{% endif %}
            </a>
          </li>
          {% set contactLink = '/pages/contact/' %}
          <li {% if page.url == contactLink %}class="active"{% endif %}>
            <a href="{{ contactLink }}">Contact
              {% if page.url == contactLink %} <span class="visually-hidden">(current)</span>{% endif %}
            </a>
          </li>
          <li><a href="https://github.com/pcraig3/fed-notes">Github</a></li>
        </ul>
      </nav>
  </div>
</header>