<!--a href="#main-content">Skip to content</a -->
<header role="banner">
  <div class="flex-wrapper">
      <a class="logo" href="/">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span aria-hidden="true">{{ site.name }}</span>
      </a>
      <nav>
        <ul>
          <li><a href="/pages/about">About</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          <li><a href="https://github.com/pcraig3/fed-notes" target="_blank">Github</a></li>
        </ul>
      </nav>
  </div>
</header>