<header class="intro">
  <div class="container">
    <div class="category-heading"><a href="#">Article</a></div>
    <h1>{{ introHeading }}</h1>
    <p class="lead-in">When do the costs outweigh the no tangible benefits?</p>
    {% if author %}
      <div class="intro__author">By <a href="https://{{ author }}" target="_blank">Paul Craig</a></div>
    {% endif %}
    {% if introSummary %}
      <div class="intro_summary">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
