<header class="intro">
  <div class="container">
    {% for tag in tags %}
      {% if tag === 'article' %}
        <div class="category-heading"><a href="/#articles">{{ tag | capitalize }}</a></div>
      {% endif %}
    {% endfor %}
    <h1 tabindex="-1">{{ introHeading }}</h1>
    {% if leadIn %}
      <div class="lead-in">{{ leadIn | safe }}</div>
    {% endif %}
    {% if author %}
      <div class="intro__author">By <a href="https://twitter.com/{{ author }}" target="_blank">Paul Craig</a></div>
    {% endif %}
    {% for tag in tags %}
      {% if tag === 'article' %}
        {% if date %}
          <div class="intro__date"><time datetime="{{ date | isoDateFilter }}">{{ date | displayDateFilter }}</time></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</header>
