<header class="intro">
  <div class="container">
    {% for tag in tags %}
      {% if tag === 'articles' %}
        <div class="category-heading"><a href="/">{{ tag | capitalize }}</a></div>
      {% endif %}
    {% endfor %}
    <h1 tabindex="-1">{{ introHeading }}</h1>
    {% if leadIn %}
      <p class="lead-in">{{ leadIn }}</p>
    {% endif %}
    {% if author %}
      <div class="intro__author">By <a href="https://{{ author }}" target="_blank">Paul Craig</a></div>
    {% endif %}
    {% if introSummary %}
      <div class="intro_summary">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>
