<div class="container subscribe">
  <div class="flex-wrapper">
    <div>
      <h4>Slam that subscribe button</h4>
      <p>No spam, head empty. Infrequent updates only.</p>
    </div>
    <div>
      <form>
        <label for="email">Email address</label>
        <div class="inputs">
          <input type="text" name="email" id="email" />
          <button class="button--primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>