<div class="container subscribe">
  <div class="flex-wrapper">
    <div>
      <h4 id="subscribe">Slam that subscribe button</h4>
      <p>No spam, head empty. Infrequent updates only.</p>
    </div>
    <div>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/pcraig3"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/pcraig3', 'popupwindow')"
      >
        <label for="bd-email">Email address</label>
        <div class="inputs">
          <input type="email" name="email" id="bd-email" />
          <button class="button--primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
